  <nav class="navbar navbar-dark bg-custom-2">
      <img
      class="logo"
         src="../assets/kisspng-github-computer-icons-icon-design-github-5ab8a31e5b5395.6758034915220498223741.png"
         />
      <h2>GitHub Fetch API For Edorer</h2>
    </nav>
    
    
    
      <form  class="form-inline md-form form-sm mt-0">
      
        <div id="searchbox" class="container h-100">
          <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
              <input 
              id="username"
              [(ngModel)]="username" 
              class="search_input" type="text"
              name="username"
              placeholder="Search..."
             />
              
              <fa-icon (click)="Search(username)" [icon]="search" class="fasearch"></fa-icon>
            </div>
          </div>
        </div>
    
      
    </form>

   <div *ngIf="test" >  
    <div class="folowers" >
    <a href="#" class="myButton">{{profile.followers}} Followers</a>
    <a href="#" class="myButton">Following {{profile.following}}</a>
    <a href="#" class="myButton">{{profile.public_gists}}  gists</a>
    <a href="#" class="myButton">{{profile.public_repos}}  Repos</a>
  </div>
  
    <div class="parent">
      <div class="Profile">
        <img id="ProfilePicture" class="rounded-circle z-depth-2" alt="100x100" src={{profile.avatar_url}}
          data-holder-rendered="true">
          <div class="data">  
          <h4 class="username" >{{profile.name}}({{profile.login}})</h4>
          <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
          <span *ngIf="profile.company">Works at {{profile.company}} in {{profile.location}}</span>
           
            <p class="pst-group-item" *ngIf="profile.bio">{{profile.bio}}</p>
            <p class="pst-group-item" *ngIf="profile.hireable">Available for hire</p>
            <p class="pst-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></p>
            <p class="list-group-item" *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></p>
          </div>

      </div>
      
      <div class="box box-10">
        
        <table>
         <div *ngFor="let repo of repos | async" class="card">
            <tr class=" repos ">
              <th class="githubUrl">   <p>{{repo.name}}</p></th>
              <th><a class="btn btn-4" href={{repo.clone_url}} >More</a></th>
              
            </tr>
            
          
          </div>
        </table>
        
        
        
        
      </div>
  
    </div>
  </div>